* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: raleway-b;
  src: url('./../fonts/raleway-black.woff2');
}

@font-face {
  font-family: raleway-reg;
  src: url('./../fonts/raleway-regular.woff2');
}

:root {
  --main-text-color: #fff6b5;
  --secondary-text-color: #ffee77;
  --main-scroll-color: black;
  --secondary-scroll-color: #363636;
  --index-unit: calc(1vh + 1vw);
}

.text {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: calc(var(--index-unit)*0.7);
  text-align: center;
  top: 0;
  z-index: 2;
  color: var(--main-text-color);
  transform: translate3d(0px, calc(var(--offset-top) / 7), 0px);
  letter-spacing: var(--index-unit);
}

.text .subtitle {
  font-size: var(--index-unit);
  font-family: raleway-reg, sans-serif;
  color: var(--secondary-text-color);
}

.text .title {
  font-family: raleway-b, sans-serif;
  font-size: calc(var(--index-unit)*2);
  text-shadow: 0 0 var(--index-unit);
}

.layers {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.layers .layer_base {
  height: 100%;
  width: 100%;
  background-image: url('./../img/layer-base.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  transform: translate3d(0px, calc(var(--offset-top) / 2), 0px);
  z-index: 1;
}

.layers .layer_mid {
  height: 100%;
  width: 100%;
  background-image: url('./../img/layer-middle.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  transform: translate3d(0px, calc(var(--offset-top) / 2.5), 0px);
  z-index: 3;
}

.layers .layer_front {
  height: 100%;
  width: 100%;
  background-image: url('./../img/layer-front.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  transform: translate3d(0px, calc(var(--offset-top) / 5.7), 0px);
  z-index: 4;
}

.article {
  min-height: 100vh;
  background-image: url('./../img/dungeon.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article__text {
  max-width: 50vw;
  text-align: center;
  font-size: var(--index-unit);
  font-family: raleway-reg;
  line-height: calc(var(--index-unit)*1.5);
  color: var(--main-text-color);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--main-scroll-color);
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-scroll-color);
}

.blur {
  position: absolute;
  bottom: calc(-(var(--index-unit)));
  transform: translateY(-55%);
  width: 100%;
  height: calc(var(--index-unit)*10);
  background-image: url('./../img/ground.png');
  background-position: center;
  background-size: cover;
  z-index: 4;
}